@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html, body {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}